<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> index  </title>
  <script type="text/javascript"></script>
  <script type="text/javascript" src=""></script>
  <link rel="stylesheet" href="" />
  <style type="text/css">
  </style>
  <script src="/static/axios/1.5.0/axios.js"></script>
  <script src="/static/vue/3.3.4/vue.global.prod.min.js"></script>

  <script src="/static/element-plus/2.3.12/index.full.js"></script>
  <link href="/static/element-plus/2.3.12/index.min.css" rel="stylesheet">
  <link href="/static/element-plus/2.3.12/el-icon.min.css" rel="stylesheet">
  <link href="/static/index.css" rel="stylesheet" />
  <script type="text/javascript" src="/static/data.js"></script>
  <style>
    @media print{
        p.footnotes {
            page-break-after: always;
            text-align: center;
        }
    }
</style>
</head>

<body class="doc">
  <div id="app">
    <el-row :gutter="20" class="fixed-input">
      <el-col :span="6"><div class="grid-content ep-bg-purple" ></div></el-col>
      <el-col :span="12">
        <el-input size="large" v-model="input" placeholder="Please input">
          <template #append>
            <el-button @click="search" class="search-button">搜索</el-button>
          </template>
        </el-input>
      </el-col>
      <el-col :span="6"><div class="grid-content ep-bg-purple" ></div></el-col>
    </el-row>
    <el-space class="lines-block" fill direction="vertical" :size="-1" style="width: 100%">
      <div class="line" v-for="word in list" >
        <div class="pinyin" v-html="word.pinyin"></div>
        <div class="word-stroke" v-html="word.wordStroke" ></div>
      </div>
    </el-space>
  </div>
  <script type="text/javascript" src="/static/index.js"></script>
</body>
</html>
